body, html{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;


}

/*Start Header*/

header{
   
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: black;
    height: 49px; /*Total of 69 pixels adding padding*/
    /*width: 100%;*/
    border-bottom: 1px solid seashell;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.list{
    margin-right: 15px;
    margin: 5px;
    display: inline;
    text-decoration: underline;
    color: seashell;
    padding: 5px;
}


.logo{
   /*font-family: 'Lily Script One', cursive;*/
}
.logo h1{
    margin: 2px;
}
.logo img{
    max-height: 60px;
    padding-bottom: 2px;
}
/*End Header*/


/*Start Top part where Talking about Our Mission*/
#ourMission{
    
    height: 700px;
    width: 1200px;
    background: url("../Resources/Images/img-mission-background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    top: 10%;
    padding-top: 69px;
    display: flex;
    justify-content: center; /*Align items horizontally*/
    align-items: center; /*Align items Vertically*/

   
}
.ourMissionContent{
    background:black;
    flex-grow: 1;
}



/*End Top part where Talking about Our Mission*/ 

/*Start List of teas*/  
#teaOfMonth{
    display: flex;
    justify-content: center; /*Align items horizontally*/
    flex-wrap: wrap;
    align-items: center; /*Align items Vertically*/
    width: 1000px;
}


.teaOfMonthContent{

}
.teaOfMonthList img{
    padding: 10px;
    width: 300px;
    height: 200px;
}
    
/*End List of teas*/ 

/*Start List of Locations*/ 
#locationsBackground{
    height: 500px;
    width: 1200px;
    background: url("../Resources/Images/img-locations-background.jpg") no-repeat;
    display: flex;
    flex-direction: column;
}
#locations{
   
    height: 500px;
    width: 1200px;
   
    display: flex;
    justify-content: space-around; /*Align items horizontally*/
    align-items: center; /*Align items Vertically*/
}
.locationsList{
    background: black;
    height: 250px;
    width: 300px;
    order: 1;
}
.locationsLeft {
    margin-left: 70px;
}

.locationsRight {
    margin-right: 70px;
}

/*End List of Locations*/ 

/*Start  Contact details*/
#contact{
    
    height: 200px;
}

/*End Contact details*/

footer{
    text-align: left;
    padding: 20px:
}

#ourMission, #teaOfMonth, #locations, #contact, #locationsBackground{
    margin: 0px auto;
}

